@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: normal;
  background-color: #1C9CF6;
	height: 100%;
}

.header {
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-top: 50px;
}

.container {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: #91cbf5;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 80%;
  height: 78%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.search-bar {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 44%;
  height: 10%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.city-input {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}

#search-input {
  border: none;
  outline: none;
  font-size: 1em;
  width: 100%;
  padding-right: 3%;
}

#search-input::placeholder {
  font-style: italic;
}

#search-input:focus {
  outline: none;
  box-shadow: 0px 0px 1em #d6eaf8;
}

.fa-magnifying-glass {
  font-size: 1em;
  color: #6f6b6b;
  position: absolute;
  right: 3%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.fa-magnifying-glass:hover {
  color: #000000;
}

.city-weather {
  position: absolute;
  top: 18%;
  left: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 44%;
  height: 37%;
  background-color: #fff;
  border-radius: 3%;
  padding: 2%;
  color: #000000;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
}

.location {
  font-size: 2em;
  margin-top: 3%;
}

.time {
  text-align: right;
  font-size: 1em;
  margin-top: 2%;
}

.date {
  text-align: left;
  font-size: 1em;
  margin-top: 2%;
  color: #6f6b6b;
  font-style: italic;
}

.temperature {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin-top: 3%;
}
.temp-unit {
  font-size: 1em;
  color: #1C9CF6;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  margin-top: 3%;
}

.temp-unit a {
  color: #6f6b6b;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-icon {
  display: flex;
  justify-content: center;
}

.weather-icon img {
  width: 6em;
  margin-bottom: 3%;
}

.weather-type {
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}

.today-forecasts {
  position: absolute;
  bottom: 3%;
  left: 3%;
  width: 44%;
  height: 37%;
  background-color: #fff;
  border-radius: 15px;
  padding: 2%;
  color: #000000;
}

.forecasts-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  text-align: center;
}

.forecast-time {
  font-weight: 500;
}

.forecast-icon {
  max-width: 50px;
  margin-top: 5px;
}

.forecast-temp {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 600;
}

.forecast:not(:last-child):before {
  content: "";
  position: absolute;
  top: 32%;
  border-right: 1.5px solid #ccc;
  transform: translateY(4px) translateX(35px);
  height: 50%;
}

.week-forecasts {
  position: static;
  bottom: 30px;
  right: 30px;
  width: 24%;
  height: 89%;
  background-color: #fff;
  border-radius: 15px;
  margin-left: 48%;
  margin-top: 2.5%;
  padding: 10px;
  color: #000000;
}

.sport-forecasts {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 24%;
  height: 89%;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  color: #000000;
}

.sport-forecasts p {
  font-size: 12px;
  font-weight: 600;
  color: #f41212;
  text-align: center;
  font-style: italic;
  margin: 10px 5px 0;
}

.activity h6 {
  margin: 0 auto;
}

.activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding: 10px 0;
}

.activity img {

  height: 100px;
  margin: 0 30px;
}

.prev,
.next {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #1C9CF6;
  cursor: pointer;
}

.prev {
  left: 49%;
}

.next {
  right: 30%;
}

.activity p {
  font-size: 12px;
  font-weight: 600;
  color: #000;
  text-align: center;
  font-style: italic;
  margin: 10px 5px 0;
}

.activity .pink {
  color: #e5aebf;
}

.activity .blue {
  color: #71a2ab;
}

.activity .green {
  color: #63867b;
}

.activity .yellow {
  color: #1C9CF6;
}

.day {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin: 8px;
}

.sport {
  display: block;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin: 8px;
}

.sport:last-child {
  border-bottom: none;
}

.day:last-child {
  border-bottom: none;
}

.day-name {
  font-weight: 700;
  font-size: 12px;
  text-transform: capitalize;
}

.sport-stadium {
  font-weight: 700;
  font-size: 12px;
  color: red;
  text-transform: capitalize;
}

.sport-date {
  font-weight: 700;
  font-size: 10px;
  text-transform: capitalize;
}

.sport-match {
  font-weight: 700;
  font-size: 14px;
  color: blue;
  text-transform: capitalize;
}

.day img {
  height: 35px;
}

.day-temp {
  font-weight: 300;
  font-size: 12px;
}

.day-weather {
  font-weight: 700;
  font-size: 10px;
  font-style: italic;
}

.credit {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  color: #6f6b6b;
}

.credit a {
  color: #636363;
  font-weight: 500;
  text-decoration: none;
}

.credit a:hover {
  color: #000;
}
